<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   <rewrite>
  <rules>
    <rule name="ReverseProxyAPI" stopProcessing="true">
      <match url="^api/(.*)" />
      <action type="Rewrite" url="http://localhost:5002/api/{R:1}" />
    </rule>

    <rule name="ReverseProxyNext" stopProcessing="true">
      <match url="^(.*)$" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
      </conditions>
      <action type="Rewrite" url="http://localhost:3000/{R:1}" />
    </rule>
  </rules>
</rewrite>

  </system.webServer>
</configuration>
